.about{
    background-color:beige;
    height: 29rem;
    width: 57.7rem;
    border: black dashed;
    margin-top: 5px;
    text-align: left;
    float: left;
    margin-left: 3.5px;
   
  
}

h2 {
    font-size: 32px;
   
}