.about{
    background-color:#FFFFFFF7;
    height: 26rem;
    width: 57.7rem;
    border: black solid 3px;
    margin-top: 5px;
    text-align: left;
    float: left;
    margin-left: 3.5px;
   
  
}

h2 {
    font-size: 32px;
   
}
.reindeer{
    width: 3rem;
    height: 3rem;
    float:left;  
 
   
}