.cards{
    background-color:#FFFFFFF7;
    height: 16rem;
    width:90%;
    border: black solid 3px;
    max-width: 30rem;
  
    padding:0.3rem;
    padding: 4px;
    margin:auto;
    margin-top: 2px;
    margin-bottom: 2px;
    

}
h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1px;
}
button {
    background-color: black;
    color: #FFF;
    margin:5px;
    width: 7rem;
    height: 2rem;
    font-weight: bold;
    padding: 0.1rem 1.3rem;
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
}
.a1 {
color: #FFF;
text-decoration: none;
}