.cards{
    background-color:whitesmoke;
    height: 15rem;
    width:18.9rem;
    border: black dashed;
    float: left;
    padding:0.3rem;
    margin:1px;

    
  
}
h3 {
    text-align: left;
    margin-top: 1px;
}
button {
    background-color: black;
    color: blanchedalmond;
    margin:5px;
    width: 5rem;
    height: 2rem;
}

