.cards{
    background-color:#FFFFFFF7;
    height: 15rem;
    width:18.9rem;
    border: black solid 3px;
    float: left;
    padding:0.3rem;
    padding-left: 4px;
    margin:1px
    

}
h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1px;
}
button {
    background-color: black;
    color: #FFF;
    margin:5px;
    width: 7rem;
    height: 2rem;
    font-weight: bold;
    padding: 0.1rem 1.3rem;
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
}