.contact {
    background-color:wheat;
    height: 20rem;
    width: 27.7rem;
    border: black dashed;
    margin-top: 5px;
    text-align: left;
    float: right;
  
}

h2 {
    font-size: 32px;
   
}