.copyright {
    background-color: #FFFFFFF7;
    height: 2rem;
    border: black 3px;
    margin-top: 5px;
   clear: both;
text-align: center;
    // display: flex;
    // align-items: center;
    
}

