body {
    margin: 0;
    background-color: #FFFFFFF7;
  }

  .scrolling-header {
      background-color: #FFFFFFF7;
      height: 4rem;
      position: fixed;
      width: 100%;
      height: 50px;
      
  }
  h1 {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 32px;
     
  }

.furby{
    width: 3rem;
    height: 3rem;
    float: right;
   
}