.projects {
    background-color:blue;
    height: 20rem;
    width: 60rem;
    border: black dashed;
    margin-top: 5px;
    float: left;
    
    
}
h2 {
    padding-left: 0.3rem;
    margin-top: 1px;
    font-size: 32px;
}