.skills{
    background-color:palegreen;
    height: 29rem;
    width: 30rem;
    border: black dashed;
    margin-top: 5px;
    text-align: left;
    float: left;
  
}

h2 {
    font-size: 32px;
   
}