.skills{
    background-color:#FFFFFFF7;
    height: 26rem;
    width: 30rem;
    border: black solid 3px;
    margin-top: 5px;
    text-align: left;
    float: left;
    margin-left: 4px;
  
}

h2 {
    font-size: 32px;
   
}
.hat {
    width: 3rem;
    height: 3rem;
    float:left;
      
}
.html, .css, {
    width: 64px;
    height:76px;
  
}


.js, .vsc {
    width: 64px;
    height:64px;
   
}

.react {
    width: 100px;
    height:70px;
}

.git,.sketch, .figma  {
    width: 64.25px;
    height:63.92px;

}

.htmlbadge {
margin-left: 1rem;
margin-top: -15px;

}

.char {
 float: left;
 padding: 1rem;
}
.seconddiv {
   clear: both;
}
.htmlname, .cssname {
    padding-left: 1rem;
}
.jsname {
    padding-top: 10px;
    padding-left: 1rem;
}
.reactname, .gitname, .figmaname{
    padding-left: 1rem;
}

.vscname {
    padding-left: 1rem;

}
.figmaname {
    padding-left: 10px;
}